* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport {
    width: extend-to-zoom;
    zoom: 1.0;
}

@font-face {
    font-family:'SourceSansPro-Regular';
    src: url('../fonts/SourceSansPro-Regular.ttf') format('truetype'),
    url('../fonts/SourceSansPro-Regular.woff') format('wolff');
}

@font-face {
    font-family:'SourceSansPro-Bold';
    src: url('../fonts/SourceSansPro-Bold.ttf') format('truetype'),
    url('../fonts/SourceSansPro-Bold.woff') format('wolff');
}

@font-face {
    font-family:'Avenir-Book';
    src: url('../fonts/Avenir-Book.ttf') format('truetype'),
    url('../fonts/Avenir-Book.woff') format('woff');

}

/* Algemene styling */
header {
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
}

.logo-ISGA {
    height: 100%;
    margin: 0.5em auto;
    position: static;
} 

main {
    background-color: black;
    min-height: 500px;
    max-height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1 0 auto;
}

.fiets-header {
    width: 100%;
    padding-top: 1.2em;
    background-color: black;
}

footer {
    height: 70px;
    display: flex;
    flex-shrink: 0;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: red;
}

.arrow {
    width:80px;
}

.logo-ISGA-sub {
    width:100px;
}

/* home */
h1 {
    font-family:'SourceSansPro-Regular';
    font-size: 50pt;
    text-align: center;
    color: white;
    margin-top: -0.3em;
    margin-bottom: -0.4em;
}

.icon-fiets {
    width: 100%;
    margin-bottom: -2em;
}

.button-start {
    font-family: 'SourceSansPro-Regular';
    font-size: 22pt;
    color: white;
    align-items: center;
    text-decoration: none;
    border: 1px solid red;
    display: flex;
    margin: 0 auto;
}

.logo-hva {
    width: 65%;
    margin: auto;
}

/* categories */
#categories {
    background-image: url('../images/74_Bikes_IMG_8466-2.jpg'); /* Bron: ISGA boekje pagina 74 */
    background-size: contain;
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-position: bottom;
}

#categories > p {
    font-family: 'Avenir-Book';
    font-size: 12pt;
    padding: 0em 2.5em 1.5em 2.5em;
    text-align: left; 
    color: white;
}

#categories > h2 {
    font-family: 'SourceSansPro-Bold';
    font-size: 22pt;
    text-align: left;
    padding: 1.3em 0em 0.2em 1.3em;
    color: white;
}

#categories > .button-buy {
    font-family: 'SourceSansPro-Regular';
    font-size: 20pt;
    text-decoration: none;
    color: white;
    background-color: red;
    width: 76%;
    display: flex;
    margin: 0.5em 0em 0em 1.5em;
    padding: 0.3em;
}

#categories > .button-routes {
    font-family: 'SourceSansPro-Regular';
    font-size: 20pt;
    text-decoration: none;
    color: white;
    background-color: red;
    width: 76%;
    display: flex;
    margin: 1em 0em 1em 1.5em;
    padding: 0.3em 0.1em;  
}

/* buybikes */
p {
    font-family: 'Avenir-Book';
    font-size: 12pt;
    padding: 1.5em 2.5em 1em 2.5em;
    text-align: left; 
    color: white;
}

.info-icon {
    width: 10%;
    height: 10%;
    margin: 0.1em auto;
}

.kopje-balk-places {
    font-family: 'SourceSansPro-Regular';
    font-size: 19pt;
    text-decoration: none;
    color: white;
    background-color: red;
    width: 80%;
    display: flex;
    margin: 0 auto;
    padding: 0.3em 1em 0.3em 1em;
}

#buybikes > .marktplaats-content {
    width: 80%;
    display: flex;
    margin: 0 auto 1em auto;
    border: 1px solid red;
}

#buybikes > .swapfiets-content {
    width: 80%;
    display: flex;
    margin: 0 auto 1em auto;
    border: 1px solid red;
}

#buybikes > .ovfiets-content {
    width: 80%;
    display: flex;
    margin: 0 auto 1em auto;
    margin-bottom: 20px;
    border: 1px solid red;
}

/* infopagina Marktplaats */
#marktplaats > .kopje-balk {
    font-family: 'SourceSansPro-Regular';
    font-size: 17pt;
    text-decoration: none;
    color: white;
    background-color: red;
    width: 70%;
    margin: 1em 0em 0.3em 2em;
    padding: 0.3em 0.6em;
}

#marktplaats > .info {
    font-family: 'SourceSansPro-Regular';
    font-size: 11pt;
    padding: 1em 4.2em 1em 3.3em;
    text-align: left;
    color: white; 
} 

#marktplaats > .fiets {
    width: 50%;
    display: flex;
    float: center;
    margin: 0em 2.5em 0em 3em;
}

#marktplaats > .kopje-url {
    font-family: 'SourceSansPro-Regular';
    font-size: 12pt;
    text-decoration: none;
    color: black;
    background-color: white;
    width: 55%;
    float: left;
    margin: 0em 2.5em 2em 3em;
    padding: 0.2em 0.7em;
}

/* infopagina Swapfiets */
#swapfiets > .kopje-balk {
    font-family: 'SourceSansPro-Regular';
    font-size: 15pt;
    text-decoration: none;
    color: white;
    background-color: red;
    width: 70%;
    margin: 1em 0em 0.3em 2.2em;
    padding: 0.3em 0.6em;
}

#swapfiets > .info {
    font-family: 'SourceSansPro-Regular';
    font-size: 11pt;
    padding: 1em 4.2em 1em 3.2em;
    text-align: left;
    color: white; 
} 

#swapfiets > .swapfiets {
    width: 60%;
    display: flex;
    float: center;
    margin: 0em 2.5em 0em 3em;
}

#swapfiets > .kopje-url {
    font-family: 'SourceSansPro-Regular';
    font-size: 12pt;
    text-decoration: none;
    color: black;
    background-color: white;
    width: 60%;
    float: left;
    margin: 0em 2.5em 2em 3em;
    padding: 0.2em 0.7em;
}

/* infopagina OV-Fiets */
#ovfiets > .kopje-balk {
    font-family: 'SourceSansPro-Regular';
    font-size: 15pt;
    text-decoration: none;
    color: white;
    background-color: red;
    width: 70%;
    margin: 1em 0em 0.3em 2.2em;
    padding: 0.3em 0.6em;
}

#ovfiets > .info {
    font-family: 'SourceSansPro-Regular';
    font-size: 11pt;
    padding: 1em 4.2em 1em 3.2em;
    text-align: left;
    color: white;
}

#ovfiets > .ov-fiets {
    width: 60%;
    display: flex;
    float: center;
    margin: 0em 2.5em 0em 3em;
}

#ovfiets > .kopje-url {
    font-family: 'SourceSansPro-Regular';
    font-size: 12pt;
    text-decoration: none;
    color: black;
    background-color: white;
    width: 40%;
    float: left;
    margin: 0em 2em 2em 3em;
    padding: 0.2em 0.7em;
}

/* Main places */
#places > p {
    font-family:'Avenir-Book';
    font-size: 10pt;
    padding: 2em 3em 1.2em 3em;
    text-align: left; 
    color: white;
}

#places > h3 {
    font-family: 'SourceSansPro-Bold';
    font-size: 12pt;
    text-decoration: none;
    color: white;
    background-color: red;
    width: 75%;
    margin: 0em 2.5em;
    padding: 0.5em 1em 0.5em 4.7em;
}

#places > h4 {
    font-family: 'SourceSansPro-Regular';
    font-size: 10pt;
    text-decoration: none;
    color: black;
    background-color: white;
    width: 75%;
    margin: 0em 3em;
    padding: 0.5em 0.5em 0.5em 2em;
}

a {
    font-family: 'SourceSansPro-Bold';
    font-size: 11pt;
    color: black;
}

/* Main Fest */
#fest > .kopje-balk {
    font-family: 'SourceSansPro-Regular';
    font-size: 15pt;
    text-decoration: none;
    color: white;
    background-color: red;
    width: 80%;
    display: flex;
    margin: 0.7em auto 0 auto;
    padding: 0.5em 0em 0.5em 2.5em;
}

#fest > .fest-image {
    width: 80%;
    display: flex;
    margin: 0.5em auto;
}

#fest > p {
    font-family: 'Avenir-Book';
    font-size: 9pt;
    padding: 0.5em 2.5em 1em 3em;
    text-align: left;
    color: white;
}
.google-maps {
    width: 45%;
    display: flex;
    margin: 0em 2.5em 1em;
}

/* Main Vondelpark */
#vondelpark > .kopje-balk {
    font-family: 'SourceSansPro-Regular';
    font-size: 15pt;
    text-decoration: none;
    color: white;
    background-color: red;
    width: 80%;
    display: flex;
    margin: 0.7em auto 0 auto;
    padding: 0.5em 0em 0.5em 1.5em;
}

#vondelpark > .vondelpark-image {
    width: 80%;
    display: flex;
    margin: 0 auto;
}

#vondelpark > p {
    font-family: 'Avenir-Book';
    font-size: 9pt;
    padding: 1em 3em 1em 3em;
    text-align: left;
    color: white;
}
.google-maps-2 {
    width: 45%;
    display: flex;
    margin: 0em 2.5em 1em 2.3em;
}