* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport {
    width: extend-to-zoom;
    zoom: 1.0;
}

@font-face {
    font-family:'SourceSansPro-Regular', sans-serif;
    src: url(../fonts/SourceSansPro-Regular.ttf);
}
@font-face {
    font-family: 'SourceSansPro-Bold', sans-serif;
    src: url(../fonts/SourceSansPro-Bold.ttf);
}

/* body */
body {
    height: 600px;
    margin-top: 3%;
}

/* main */
main {
    height: 100%;
    background-color: black;
}

/* home */
header {
    width: 100%;
    height: 100px;
    background-color: blue;
}

.logo-ISGA {
    width: 40%;
    display: flex;
    margin: 0 auto;
}

h1 {
    font-family: 'SourceSansPro-Regular';
    font-size: 51pt;
    text-align: center;
    color: white;
    padding-top: 1em;
}

.icon-fiets {
    width: 100%;
    height: 100%;
    margin: -2em auto;
}

/* button start */
.button-start {
    font-family: 'SourceSansPro-Regular';
    font-size: 22pt;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 20%;
    border: 1px solid red;
    display: flex;
    margin: 0 auto;
}

/* footer home */
footer {
    height: 80px;
    display: flex;
    background-color: red;
}

.logo-hva {
    width: 65%;
    margin: auto;
}

/* header subpaginas */
header {
    width: 100%;
    height: 100px;
    background-color: blue;
}

.fiets-header {
    width: 100%;
    height: 70%;
    display: flex;
    padding-top: 1.6em;
}

/* footer subpaginas */
#footer {
    height: 100px;
    position: relative;
    text-align: center;
    background-color: red;
}

.arrow {
    width: 80px;
    float: left;
    margin: 1rem;
}

.logo-ISGA-sub {
    width: 27%;
    float: right;
}

/* main categories */
p {
    font-family: 'SourceSansPro-Regular';
    font-size: 12pt;
    padding: 0em 2.5em 0em 2.5em;
    text-align: left; 
    color: white;
}

h2 {
    font-family: 'SourceSansPro-Regular';
    font-size: 20pt;
    text-align: left;
    padding: 2em 0em 0em 1.4em;
    color: white;
}

.button-buy {
    font-family: 'SourceSansPro-Regular';
    font-size: 20pt;
    text-decoration: none;
    color: white;
    background-color: red;
    width: 76%;
    display: flex;
    margin: 2rem auto 1.5rem 2rem;
    padding: 0.5rem;
}

.button-routes {
    font-family: 'SourceSansPro-Regular';
    font-size: 19pt;
    text-decoration: none;
    color: white;
    background-color: red;
    width: 76%;
    display: flex;
    margin: 2rem auto 1.5rem 2rem;
    padding: 0.5rem;  
}

/* main buybikes */
.info-icon {
    width: 10%;
    height: 10%;
    margin: 0.2rem 1rem;
}

.kopje-balk {
    font-family: 'SourceSansPro-Regular';
    font-size: 19pt;
    text-decoration: none;
    color: white;
    background-color: red;
    width: 80%;
    display: flex;
    margin: auto;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.marktplaats-content {
    width: 80%;
    display: flex;
    margin: auto;
    border: 1px solid red;
}

.swapfiets-content {
    width: 80%;
    display: flex;
    margin: auto;
    border: 1px solid red;
}

.ovfiets-content {
    width: 80%;
    display: flex;
    margin: auto;
    border: 1px solid red;
}

/* infopagina Marktplaats */
.kopje-balk {
    font-family: 'SourceSansPro-Regular';
    font-size: 19pt;
    text-decoration: none;
    color: white;
    background-color: red;
    width: 80%;
    display: flex;
    margin: auto;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.info {
    font-family: 'SourceSansPro-Regular';
    font-size: 10pt;
    padding: 1.5em 3em 0.7em 3em;
    text-align: left;
    color: white; 
} 

.fiets {
    width: 65%;
    height: 210px; 
    display: flex;
    float: left;
    margin: 0.7rem 2.5rem 1rem 2.5rem;
}

.kopje-url {
    font-family: 'SourceSansPro-Regular';
    font-size: 12pt;
    text-decoration: none;
    color: black;
    background-color: white;
    width: 68%;
    float: left;
    margin: 0rem 2.5rem;
    padding: 0.2rem 0.7rem;
}

/* infopagina Swapfiets */
.kopje-balk {
    font-family: 'SourceSansPro-Regular';
    font-size: 19pt;
    text-decoration: none;
    color: white;
    background-color: red;
    width: 80%;
    display: flex;
    margin: auto;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.info {
    font-family: 'SourceSansPro-Regular';
    font-size: 10pt;
    padding: 1.5em 3em 0.7em 3em;
    text-align: left; 
    color: white;
} 

.swapfiets {
    width: 70%;
    display: flex;
    float: left;
    margin: 0.7rem 2.5rem 1rem 2.5rem;
}

.kopje-url {
    font-family: 'SourceSansPro-Regular';
    font-size: 12pt;
    text-decoration: none;
    color: black;
    background-color: white;
    width: 68%;
    float: left;
    margin: 0rem 2.5rem;
    padding: 0.5rem 0.7rem;
}

/* infopagina OV-Fiets */
.kopje-balk {
    font-family: 'SourceSansPro-Regular';
    font-size: 19pt;
    text-decoration: none;
    color: white;
    background-color: red;
    width: 80%;
    display: flex;
    margin: auto;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.info {
    font-family: 'SourceSansPro-Regular';
    font-size: 10pt;
    padding: 1.5em 3em 0.7em 3em;
    text-align: left;
    color:white;
}

.ov-fiets {
    width: 65%;
    height: 170px;
    display: flex;
    float: left;
    margin: 0.7rem 2.5rem 1rem 2.5rem;
}

.kopje-url {
    font-family: 'SourceSansPro-Regular';
    font-size: 12pt;
    text-decoration: none;
    color: black;
    background-color: white;
    width: 68%;
    float: left;
    margin: 0rem 2.5rem;
    padding: 0.2rem 0.7rem;
}

/* Main hotspots */
#places > p {
    font-family: 'SourceSansPro-Regular';
    font-size: 10pt;
    padding: 0em 3rem 1.2rem 3rem;
    text-align: left; 
    color: white;
}

#places > h3 {
    font-family: 'SourceSansPro-Bold';
    font-size: 12pt;
    text-decoration: none;
    color: white;
    background-color: red;
    width: 75%;
    display: center;
    margin: 0rem 2.5rem;
    padding: 0.5rem 1rem 0.5rem 4.7rem;
}

#places > h4 {
    font-family: 'SourceSansPro-Regular';
    font-size: 10pt;
    text-decoration: none;
    color: black;
    background-color: white;
    width: 75%;
    display: center;
    margin: 0rem 2.5rem;
    padding: 0.5rem 0.5rem 0.5rem 1.2rem;
}

a {
    font-family: 'SourceSansPro-Bold';
    font-size: 11pt;
    color: black;
}

/* Main info Fest */
.kopje-balk {
    font-family: 'SourceSansPro-Regular';
    font-size: 19pt;
    text-decoration: none;
    color: white;
    background-color: red;
    width: 80%;
    display: flex;
    margin: auto;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.fest-image {
    width: 80%;
    display: flex;
    float: center;
    margin: 0.5rem auto;
}

#fest > p {
    font-family: 'SourceSansPro-Regular';
    font-size: 9pt;
    padding: 0.5rem 2.5rem 1rem 2.5rem;
    text-align: left;
    color: white;
}
.google-maps {
    width: 60%;
    height: 120px;
    display: flex;
    float: left;
    margin: 0rem 2.5rem;
}